/* Mobile */
.mug {
  float: right;
  width: 40%;
  margin-left: 10px;
  margin-bottom: 10px;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
  border-radius: 2px;
}

@media (min-width: 768px) {
  /* Desktop */
  .mug {
    margin-left: 40px;
    margin-bottom: 40px;
  }
}

.side-projects article {
  padding-top: 40px;
  padding-bottom: 30px;
}

.side-projects .screenshot {
  text-align: right;
}

.side-projects h3 a {
  color: var(--h3-color) !important;
}
