.next-previous div {
  text-align: center;
}
.next-previous div i {
  color: var(--muted-color);
}

article.about-filters {
  padding: 40px 20px;
}

article.about-filters .grid div {
  text-align: center;
  vertical-align: middle;
}

article.about-filters .grid div p {
  margin-bottom: 0;
}
article.homepage-post {
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  article.homepage-post {
    margin-bottom: 50px;
  }
}

.subtitle {
  margin-bottom: 50px;
}
