pre {
  padding: 10px;
  border: 1px solid var(--code-color);
}

img.floatright {
  float: right;
  margin: 0 0 7px 7px;
}
img.floatleft {
  float: left;
  margin: 7px 7px 0 0;
}

img.fullsize {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
  border-radius: 2px;
  width: 90%;
}
