name: Tests

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - run: bun install

      - run: bun run lint

      - name: Build (and lint)
        env:
          API_BASE: http://localhost:8000
        run: bun run build

      - name: Compress build assets
        run: bun run build:compress

      - name: Start mock server
        run: bun run mock-peterbecom-backend > /tmp/stdout.log 2> /tmp/stderr.log &

      - name: Check that the server runs
        run: |
          sleep 2
          curl --retry-connrefused --retry 3 http://localhost:8000

      - name: End-to-end test the server
        env:
          API_BASE: http://localhost:8000
          SERVER_URL: http://localhost:3000
        run: bun run test

      - name: Playwright tests
        run: bunx playwright test

      - uses: actions/upload-artifact@v5
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 10

      - name: Debug any server outputs
        if: failure()
        run: |
          echo "___NETSTAT___"
          netstat -nplt
          echo "____STDOUT____"
          cat /tmp/stdout.log
          echo "____STDERR____"
          cat /tmp/stderr.log
